input:focus, textarea:focus {
	border: 1px; solid: #1668c4;
	
}

input[type="submit"] {
	margin-bottom: 0;
	background: #1668c4;
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	border: none;
}

input[type="submit"]:hover{
	background: #4a88f4;
	cursor: pointer;
}

h1{
	color: white;
}
